.header{
    background:#ffffff;
    border-bottom:1px solid #E2E8F0;
    position:sticky;
    top:0;
    z-index:100;
}

.container{
    max-width:1200px;
    margin:auto;

    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:18px 20px;
}

.logoSection{
    display:flex;
    align-items:center;
    gap:15px;
}

.logo{
    width:52px;
    height:52px;

    background:#2563EB;
    color:white;

    border-radius:14px;

    display:flex;
    justify-content:center;
    align-items:center;

    font-size:26px;
}

.logoSection h1{
    font-size:1.4rem;
    color:#0F172A;
    font-weight:600;
}

.logoSection p{
    margin-top:4px;
    color:#64748B;
    font-size:.9rem;
}

.nav{
    display:flex;
    gap:30px;
}

.nav a{
    color:#475569;
    text-decoration:none;
    font-weight:500;

    transition:.25s;
}

.nav a:hover{
    color:#2563EB;
}

.active{
    color:#2563EB !important;
}